
.order-div {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    width: 800px;
}

.content {
    display: flex;

}

.bookDetailing {
    padding-top: 60px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}

.bookNaming {
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: center;
}

.form-div {
    display: flex;
    width: 450px;
    padding-right: 40px;
    padding-left: 50px;
}

.shipping {
    font-weight: bold;
    width: 100%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.imagePrice {
    margin-left: 10px;
    color: forestgreen;
}

input[type=number] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.bookOut {
    margin: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.required {
    color: red;
}