.summary-div {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
}

.bookImage {
    height: 200px;
    width: 150px;
}

.centerBox {
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 40px;
}

.confirmOrder {
    margin-left: 400px;
    background-color: forestgreen;
}

.ShippingDetails {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    float: left;
}

.OrderDetails {
    display: flex;
    flex-direction: column;
    float: right;
}

.pTag {
    align-content: stretch;
}

.confirmation {
    align-self: center;
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
    border: 5px green;
    color: #007600;
}

.InvalidOrder {
    align-self: center;
    background-color: white;
    padding: 40px;
    text-align: center;
    border: 5px green;
    color: darkblue;
}

.OrderInvalid {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 300px;
    margin-left: 50px;
}