.ordered-div {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 320px;
}

.OrderPlaced {
    align-self: center;
    background-color: white;
    padding: 50px;
    text-align: center;
    border: 5px green;
    color: #007600;
}

.OrderNotPlaced {
    align-self: center;
    background-color: white;
    padding: 50px;
    text-align: center;
    border: 5px green;
    color: red;
}

.OrderAlreadyConfirmed {
    align-self: center;
    background-color: white;
    padding: 50px;
    text-align: center;
    border: 5px green;
    color: darkblue;
}

.buyMoreButton-div {
    padding-left: 437px;
    color: #FF8E53;
}

.buyMoreButton {
    height: 45px;
    width: 100px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    margin-right: 10px;
    margin-bottom: 10px;
}

span {
    content: "\274C";
}

:root {
    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #007600;
}


.check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
}
