.parent-div {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
}

.name {
    font-weight: 700;
    font-size: 5rem;
    text-align: left;
    text-decoration: none;
}

.author-name {
    font-style: italic;
    font-size: 3rem;
    color: gray;
    margin-bottom: 10px;
}

.priceVal {
    font-size: 4.5rem;
    color: #b12704;
}

.line {
    height:2px;

    border-width:0;
    color:white;
    background-color:black
}

.row-pad {
    font-weight: normal;
}

.leftImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    font-size: 2.5rem;
}


.btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-left {
    display: flex;
    justify-content: flex-start;
}

.col-right {
    display: flex;
    justify-content: flex-start;
}

.left-details-col {
    text-align: right;
    margin-right: 10px;
}

.right-details-col {
    margin-top: 20px;
    margin-left: 5px;
    color: #5f5f5f;
}

.stock {
    color: #007600;
    font-size: 3.5rem;
}

.no-stock {
    color: #b12704;
    font-size: 3rem;
    margin-left: 60px;
}

.stock-row {
    margin-top: 20px;
}

.star-rating {
    height: 20px;
}

.qty-row {
    display: flex;
}

.available-row {
    display: flex;
}

.quantity {
    font-size: 2.5rem;
    margin: auto 10px auto 40px;
}

.buyBtn {
    height: 50px;
    width: 100px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.disabledBtn {
    cursor: default;
    height: 50px;
    width: 100px;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.buyText {
    font-size: large;
    color: white;
    position: absolute;
    right: 85px;
    top: 10px;
    margin-top: 9px;
}

.image {
    height: 480px;
    width: 270px;
    border-radius: 5px;
}
