.main-container {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}

.main-container:hover{
    box-shadow: 5px 5px 10px;
}

.card-title{
    font-weight: bold;
}
.authorName{
    font-style: italic;
}
.price{
    color: green;
    font-weight: bold;
}

.card-img-top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

img{
    height: 150px;
    width: 98px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
.card-body{
    text-align: center;
}
