.nav-container{
    display: flex;
    justify-content: center;
}
.noBooks{
    margin-left: 540px;
    margin-top: 200px;
    width: 800px;
    padding: 12px;
    padding-left: 40px;
    color: black;
    background: white;
}
.headno{
    font-weight: normal;
    font-size: 35px;
}
.skey{
    font-weight: bold;
}
.inst{
    font-weight: normal;
    font-size: 20px;
}
.linkmarg{
    margin-left: 30px;
    font-size: 20px;
}