
.loader{
    position: absolute;
    left: 50%;
}
.loading-line{
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 11px;
    width: 10px;
    height: 30px;
}
.loading-line:nth-child(1) {
    background: #27ae60;
}

.loading-line:nth-child(2) {
    animation-delay: 180ms;
    background: #f1c40f;
}

.loading-line:nth-child(3) {
    animation-delay: 360ms;
    background: #e67e22;
}

.loading-line:nth-child(4) {
    animation-delay: 540ms;
    background: #2980b9;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2);
    }
}
.line2{
    animation: example 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 11px;
    width: 10px;
    height: 30px;
}




