.whole{
    background-color: white;
    height: 100px;
}

body {
    background: url("Images/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.shrvenk{
    background: url("Images/logo.jpg") center;
    height: 70px;
    width: 200px;
    border-radius: 8px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.marg{
    margin-top: 20px;
}
.srh{
    margin-top: 20px;
}
.acc{
    width: 400px;
    height: 150px;
}
.log_out>form{
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-top: 5pt;
    margin-bottom: 15pt;
}
.log_out>form>button{
    padding-left: 50pt;
    padding-right: 50pt;
}
.thank_you{
    text-align: center;
    margin-top: 30px;
}
.accnt{
    margin-top: 30px;
    background-color: rgb(99, 14, 133);
    color: white;
}
.accnt:hover{
    text-decoration: underline;
}
.navmag{
    margin-top: 10px;
}
.plus{
    font-size: 30px;
    color: whitesmoke;
}
.pls{
    margin-right: 10px;
}
.addre{
    font-size: 10px;
    color: tomato;
    text-align: center;
}
.linkbx{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top :0px;
}
.navbar,.nav{
    padding-top: 0px;
    border-color: #333;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.sign_in,.create_account{
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-top: 25px;
}
.sign_in>button{
    padding-left: 50pt;
    padding-right: 50pt;
}
.alert-box{
    text-align: center;
}
.givemargin{
    margin-top: 18px;
}

.left-nav {
    margin-left: 270px;
}

.right-nav {
    float: right;
    margin-right: 250px;
}

.homeButton {
    background: transparent url("Images/home.png") no-repeat;
    border: black;
    height: 50px;
    width: 54px;
    background-size: 57px auto;
    padding-top: 2px;
}

.myButton {
    background: transparent url("Images/BackButton.png") no-repeat;
    border: black;
    height: 50px;
    width: 50px;
    background-size: 50px auto;
}